{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Додати нового працівника{% endblock %}

{% block content %} 
<h1>Додати нового працівника</h1>

<form action="{{ path('worker_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Створити</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('worker') }}">
             Назад до списку
        </a>
    </li>
</ul>
{% endblock %}