{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Додати новий прайс{% endblock %}

{% block content %}   
<h1>Додати новий прайс</h1>

<form action="{{ path('Price_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Створити</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('Price') }}">
             Назад до списку
        </a>
    </li>
</ul>
{% endblock %}