{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Welcome! - Credit Union{% endblock %}

{% block container %}   
<h1>Welcome</h1>

<ul>
  <li><a href="/index.php/Customers/">Клієнти</a></li>
  <li><a href="/index.php/Worker/">Працівники</a></li>
  <li><a href="/index.php/Depositsandloans/">Вклади та Кредити</a></li>
  <li><a href="/index.php/Price/">Прайс лист</a></li>
  <li><a href="/index.php/Creditunions/">Кредитні спілки</a></li>
</ul>

{% endblock %}
